.navbar {
  list-style-type: none;
  display: flex;

}

.navbar > li > .logo {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 5px;
  margin-top: -40px;
}

.navbar > li > .user-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 5px;
}

.navbar > li > .search-box {
  position: relative;
  margin-left: 350px;
  margin-top: 5px;
}

.navbar > li > button {
  position: absolute;
  margin-left: 42%;
  margin-top: 3%;
}